table {
  width: 100%;
}

.text-center {
  text-align: center;
}

.mentor {
  background-color: yellow !important;
  color: rgb(41, 39, 39) !important;
}

.pr-5 {
  padding-right: 50px !important;
}

.pr-2 {
  padding-right: 20px !important;
}

.pl-2 {
  padding-left: 20px !important;
}

.ml-1 {
  margin-left: 10px !important;
}

.mr-1 {
  margin-right: 10px !important;
}

.button-add {
  text-align: right;
  margin-bottom: 5px;
}
