<div class="button-add">
    <button mat-raised-button (click)="showDialogAddMentor()">
        <mat-icon>person_add</mat-icon> Add Mentor
    </button>
</div>
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

        <ng-container class="container" matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td class="pr-5" mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="userType">
            <th class="text-center" mat-header-cell *matHeaderCellDef> User Type </th>

            <td class="text-center pr-2 pl-2" mat-cell *matCellDef="let element">
                <button mat-flat-button class="mentor" disabled>{{element.userType}}</button>
            </td>
        </ng-container>

        <ng-container matColumnDef="entity">
            <th class="text-center" mat-header-cell *matHeaderCellDef> Entity </th>
            <td class="text-center pr-2 pl-2" mat-cell *matCellDef="let element"> {{element.entity}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
            <th class="text-center" mat-header-cell *matHeaderCellDef> Status </th>
            <td class="text-center pr-2 pl-2" mat-cell *matCellDef="let element">
                <button mat-mini-fab [disabled]="element.status === 'pending'" aria-label="">
                    <mat-icon>check</mat-icon>
                </button>
            </td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th class="text-center" mat-header-cell *matHeaderCellDef> Action </th>
            <td class="text-center" mat-cell *matCellDef="let element">
                <button class="mr-1 ml-1" mat-mini-fab aria-label="edit">
                    <mat-icon>edit</mat-icon>
                </button>
                <button class="mr-1 ml-1" mat-mini-fab aria-label="send email is disabled">
                    <mat-icon>mail</mat-icon>
                </button>
                <button class="mr-1 ml-1" mat-mini-fab aria-label="delete" [swal]="deleteSwal"
                    (confirm)="deleteData(element.id)">
                    <mat-icon>delete</mat-icon>
                </button>
                <swal #deleteSwal [showCancelButton]="true" icon="warning" text="Delete Data {{ element.name }}?"
                    title="Attention"></swal>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
</div>