<mat-toolbar class="between">
    <!-- <span>{{service.form.controls['$key'].value?"Modify Employee":"New Employee"}}</span> -->
    <span>New Mentor</span>
    <span class="fill-remaining-space"></span>
    <button class="btn-dialog-close" mat-stroked-button (click)="onClose()">
        <mat-icon>clear</mat-icon>
    </button>
</mat-toolbar>
<form class="normal-form" (submit)="onSubmit()">
    <mat-grid-list cols="2" rowHeight="300px">
        <mat-grid-tile>
            <div class="controles-container">
                <input type="hidden">
                <mat-form-field>
                    <input matInput placeholder="First Name*">
                    <mat-error>This first name is mandatory.</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Last Name*">
                    <mat-error>This last name is mandatory.</mat-error>
                </mat-form-field>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="controles-container">
                <div class="add-bottom-padding">
                    <mat-radio-group>
                        <mat-radio-button value="Mr">Mr</mat-radio-button>
                        <mat-radio-button value="Mrs">Mrs</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="button-row">
                    <button mat-raised-button color="primary" type="submit">Submit</button>
                    <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
                </div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</form>